<nav class="navbar navbar-expand-lg navbar-light   navbar-dark bg-dark bg-light">
    <a class="navbar-brand" href="#"> Product Inventory</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home"  routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a   *ngIf='!status' class="dropdown-item" routerLink="/addproduct">Add Products</a>
            <a class="dropdown-item" routerLink="/viewproducts"> View Products</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        
      </ul>
      <button type="button"  style="margin-right: 5px;"      class="btn btn-primary active" (click)="Register()">{{useregisterationstatues}}</button>
      <button type="button" class="btn btn-primary active" (click)="loginstatus()">{{userloginstatus}}</button>
      
    </div>
  </nav>
